<script src="/js/endor.js"></script>



<img class="chewy" src="images/chewbacca.png">

<div class="character character1"></div>
<div class="character character2"></div>
<div class="character character3"></div>

<script src="/js/starships.js"></script>

<script src="/js/shop.js"></script>