<script src="/js/endor.js"></script>

								<!-- Dialogue Box 1 -->

<div class="dialogueBox dialogueBox1">
                                        <!-- Trooper Questions -->
	<div class="trooper trooperQuestion1">
		<h5>Scout: </h5>
		<br>
		<p>This area is restricted. Only authorized troops are allowed. State Your business or turn around and walk the other way.</p>
	</div>
	<div class="trooper trooperQuestion2">
		<h5>Scout: </h5>
		<br>
		<p>I have no money for a begger like you. Move along!</p>
	</div>

</div>

								<!-- Dialogue Box 2 -->

<div class="dialogueBox dialogueBox2">
                                         <!-- Trooper Responses -->
	<div class="anakin trooperResponse1">
		<h5>Chewbacca:</h5>
		<br>
		<button class="btn trooper_lost">Sorry I'm lost. You wouldn't happen to <br>have any spare money to <br>help me to buy a ship would you?</button>
		<br>
		<br>
		<button class="btn trooper_vader">I'm here by request of Lord Vader to <br>help complete the satellite.</button>
		<br>
		<br>
		<button class="btn trooper_compliment">You seem to be running an impressive <br>operation. I'd like to help.</button>
	</div>

</div>

<img class="chewy" src="images/chewbacca.png">

<div class="character character1"></div>
<div class="character character2"></div>
<div class="character character3"></div>

<script src="/js/starships.js"></script>

<script src="/js/shop.js"></script>