<script>
	$(document).ready(function(){
		$('body').css("background-image", "url('/images/hoth_background.jpg')");

	});
</script>



<div class="container">
	<header>
		<div class="userInfo">
			<h2>user name</h2>
			<h4>credits:</h4>
		</div>
		  <div class="dropdown">
			    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Starships
			    <span class="caret"></span></button>
			    <ul class="dropdown-menu">

			    	<!-- before listing all of the ships i need to seperate them by comma like so: starships.split(",") -->

			      <li><a href="#">#1</a></li>
			      <li><a href="#">#2</a></li>
			      <li><a href="#">#3</a></li>
			    </ul>
		  </div>
		
	</header>
</div>

<img class="chewy" src="images/chewbacca.png">

<div class="character character1"></div>
<div class="character character2"></div>
<div class="character character3"></div>