<h1>Welcome, <%= user.name %></h1>

<h4>Here are your saved files</h4>

<p></p>

<form action="/landing" method="POST">
	<input type="radio" name="saveFile" value="save slot 1" checked> Save Slot 1<br>
	<input type="radio" name="saveFile" value="save slot 2"> Save Slot 2<br>
	<input type="radio" name="saveFile" value="save slot 3"> Save Slot 3<br>
	<input type="submit" value="Play!">
</form>