<h1>Welcome, <%= user.name %></h1>

<h4>Here are your saved files</h4>

<p></p>

<form action="/landing" method="POST">
	<input type="radio" name="saveFile" value="save slot 1" checked> Game Slot 1<br>
	<input type="radio" name="saveFile" value="2"> Game Slot 2<br>
	<input type="radio" name="saveFile" value="3"> Game Slot 3<br>
	<input type="submit" value="Play!">
</form>