<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Star Wars</title>
    <!-- include jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- include Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- <script src="jQuery.js"></script> -->
    <style>

        body {
            /*background properties*/
            background-color: black;
            background: url("/images/death_star_background.jpg") no-repeat center center fixed;
            background-size: cover;
            /*background-repeat: no-repeat;*/
        }
        /****************************************************
        CSS that only applies to the sign in and sign up page
        *****************************************************/
    	.firstPages {
    		/*text properties*/
    		text-align:center;
    		color: white;
    		font-family: Andale Mono,Times New Roman;
    	}

        input[type="radio"]:checked+span {
            color: green;
        }

        input[type="radio"]+span {
            font-size: 1.5em;
        }
        /****************************************************
        CSS that applies to the header of each page 
        *****************************************************/
        .userInfo {
            margin-left: 5%;
            color: white;
            font-family: Andale Mono,Times New Roman;
        }

        .dropdown {
            position: absolute;
            top:20px;
            right:98px;
        }

        #shop {
            position: absolute;
            top:20px;
            right:20px;
        }
        /****************************************************
        CSS that only applies to the planets on the /home page
        *****************************************************/
        .planet {
            /*background-color: green;*/
            border-radius: 100%;
        }

        .planet_pic {
            height: 100%;
            width: 100%;
        }

        .planet3 {
            height: 250px;
            width: 275px;
        }

        .planet2 {
            height: 180px;
            width: 200px;
        }

        .planet1 {
            height: 120px;
            width: 150px;
        }

        .planet0 {
            height: 75px;
            width: 100px;
        }

        .donePlanet {
            height:60px;
            width: 60px;
            border-radius: 100%;
            background-color: red;
            display: inline-block;
            margin-top: -50px;
        }
        /****************************************************
        CSS that only applies to the specific location pages
        *****************************************************/
        .chewy {
            height: 260px;
            width: 200px;
            position: absolute;
            bottom: 0;
            right:120px;

        }

        .dialogueBox {
            height: 250px;
            width: 30%;
            text-align: center;
            display: none;
        }

        .dialogueBox1 {
            background-color: red;
            float: left;
            margin-right: 14%;
            margin-left: 10%;
            border-radius: 30% 30% 30% 0;
        }


        .dialogueBox2 {
           background-color: green;
           float: left;
           border-radius: 30% 30% 0 30%;
        }

        .dialogueBox2 button {
            max-width: 80%;
        }


        /* .character refers to each of the 3 characters */
        .character {
            display: inline-block;
            height: 220px;
            width: 170px;
            /*background-color: blue;*/
            position: absolute;
            bottom: 5px;
        }

        .character1 {
            left: 0px;
        }

        .character2 {
            left: 220px;
            bottom: 30px;
        }

        .character3 {
            left:460px;
            bottom: 60px;
        }

        .characterPic {
            height: 100%;
            width:100%;
        }

        /*********************************************
        CSS for the header modals
        ****************************************/
        #starshipPic {
            height: 200px;
            width: 200px;
            display: block;
            margin: 0 auto;
        }

    </style>

</head>
<body>

<% include partials/alerts %>
<%- body %>

</body>
</html>