<div class="firstPages">
  <h1><strong>Chewbacca's Adventure</strong></h1>
  <h2>Sign Up</h2>

  <form action="/sign_up" method="POST">

    <div class="form-group">
      <label for="authName">Name</label>
      <input id="authName" class="form-control" type="text" name="name">
    </div>

    <div class="form-group">
      <label for="authEmail">Email</label>
      <input id="authEmail" class="form-control" type="email" name="email">
    </div>

    <div class="form-group">
      <label for="authPassword">Password</label>
      <input id="authPassword" class="form-control" type="password" name="password">
    </div>

    <input class="btn btn-primary" type="submit">
  </form>

  <p>Already have a profile? <a href="/">sign in.</a></p>
</div>