<div class="firstPages">
	<h1><strong>Chewbacca's Adventure</strong></h1>
	<h2>Log In</h2>

	<form action="/" method="POST">
	  <div class="form-group">
	    <label for="authEmail">Email</label>
	    <br>
	    <input id="authEmail" class="form-control" type="email" name="email">
	  </div>

	  <div class="form-group">
	    <label for="authPassword">Password</label>
	    <br>
	    <input id="authPassword" class="form-control" type="password" name="password">
	  </div>

	  <input class="btn btn-primary" type="submit" value="Log In">
	</form>

	<p>Don't have an account? <a href="/sign_up">sign up.</a></p>
</div>