<script src="/js/tatooine.js"></script>

<%- include partials/header.ejs %>




<div class="dialogueBox dialogueBox1">
                                        <!-- Anakin Questions -->
	<div class="anakin anakinQuestion1">
		<h5>Anakin: </h5>
		<br>
		<p>Hey You! I am Anakin Skywalker, soon to be the most powerful jedi among the republic. As such, I order you to find a creature known as Jabba the Hut and bring him to me!</p>
	</div>
	<div class="anakin anakinQuestion2">
		<h5>Anakin:</h5>
		<br>
		<p>I shall reward you for your loyalty. Name your price wookie.</p>
	</div>
	<div class="anakin anakinQuestion21">
		<h5>Anakin:</h5>
		<br>
		<p>How dare you defy me, you stupid animal!</p>
	</div>
	<div class="anakin anakinQuestion3">
		<h5>Anakin:</h5>
		<br>
		<p>Here is 40,000 credits for your efforts. Meet me in the Cantina when you have found him. I'll be waiting!</p>
	</div>
	                                       <!-- Jawa Questions -->
	 <div class="jawa jawaQuestion1">
		<h5>Jawa: </h5>
		<br>
		<p>Check out some droids I have for sale. I've got the best prices in all of tatooine!</p>
	</div>
	<div class="jawa jawaQuestion2">
		<h5>Jawa:</h5>
		<br>
		<p>Whoa! Dont get crazy. How much do you want?</p>
	</div>
	<div class="jawa jawaQuestion21">
		<h5>Jawa:</h5>
		<br>
		<p>Whatever. It's your lost. You'll never find a better selection. I'll go find someone who knows quality when they see it.</p>
	</div>
	<div class="jawa jawaQuestion3">
		<h5>Jawa:</h5>
		<br>
		<p>I'm sorry, but no. I need that money to survive!</p>
	</div>
	<div class="jawa jawaQuestionMoney">
		<h5>Jawa:</h5>
		<br>
		<p>Take your 60,000 credits and leave me alone!!!</p>
	</div>
</div>

<div class="dialogueBox dialogueBox2">
                                         <!-- Anakin Responses -->
	<div class="anakin anakinResponse1">
		<h5>Chewbacca:</h5>
		<br>
		<button class="btn anakin_yes">Yea Sure!</button>
		<br>
		<br>
		<button class="btn anakin_no">Nah dawg.</button>
		<br>
		<br>
		<button class="btn anakin_maybe">Maybe. What's in it for me?</button>
	</div>
		<div class="anakin anakinResponse2">
		<h5>Chewbacca:</h5>
		<br>
		<button class="btn anakin_nothing">I just want to help. Is Jabba a bad guy?</button>
		<br>
		<br>
		<button class="btn anakin_alot">100,000 credits or no deal.</button>
		<br>
		<br>
		<button class="btn anakin_alittle">40,000 credits should get it done.</button>
	</div>
                                          <!-- Jawa Responses -->
	<div class="jawa jawaResponse1">
		<h5>Chewbacca:</h5>
		<br>
		<button class="btn jawa_yes">No thanks, but I have some spare parts if you're intersted.</button>
		<br>
		<br>
		<button class="btn jawa_no">Im not intersted in your shitty droids.</button>
		<br>
		<br>
		<button class="btn jawa_maybe">Listen, I need some money and your gunna give it to me!</button>
	</div>
		<div class="jawa jawaResponse2">
		<h5>Chewbacca:</h5>
		<br>
		<button class="btn jawa_alittle">60,000 credits</button>
		<br>
		<br>
		<button class="btn jawa_alot">100,000 credits</button>
		<br>
		<br>
		<button class="btn jawa_everything">Everything You got!</button>
	</div>

</div>



<img class="chewy" src="images/chewbacca.png">

<div class="character character1"></div>
<div class="character character2"></div>
<div class="character character3"></div>

<script>

	$("#Death_Star").on('click', function(){
		console.log("death star clicked");
		$.ajax({
			url: "http://swapi.co/api/starships/9/",
			method: 'GET',
			success: function(result){
			 	console.log(result);
         		$("#starShipTitle").text(result.name);
         		$("#costInCredits").text("Cost: " + result.cost_in_credits);
         		$("#starShipConsumables").text("Stores enough supplies to survive for " + result.consumables);
    		}
    	});
	});
	$("#Tie_Fighter").on('click', function(){
		console.log("X-wing clicked");
		$.ajax({
			url: "http://swapi.co/api/starships/12/",
			method: 'GET',
			success: function(result){
			 	console.log(result);
         		$("#starShipTitle").text(result.name);
         		$("#costInCredits").text("Cost: " + result.cost_in_credits);
         		$("#starShipConsumables").text("Stores enough supplies to survive for " + result.consumables);
    		}
    	});
	});
		$("#Millenium_Falcon").on('click', function(){
		console.log("Millenium Falcon clicked");
		$.ajax({
			url: "http://swapi.co/api/starships/10/",
			method: 'GET',
			success: function(result){
			 	console.log(result);
         		$("#starShipTitle").text(result.name);
         		$("#costInCredits").text("Cost: " + result.cost_in_credits);
         		$("#starShipConsumables").text("Stores enough supplies to survive for " + result.consumables);
    		}
    	});
	});
</script>