/****************************************************
        CSS that applies to the header of each page 
        *****************************************************/
        .userInfo {
            margin-left: 5%;
            color: white;
            font-family: Andale Mono,Times New Roman;
        }

        .dropdown {
            position: absolute;
            top:20px;
            right:98px;
        }

        #shop {
            position: absolute;
            top:20px;
            right:20px;
        }


        /*********************************************
        CSS for the header modals
        ****************************************/
        #starshipPic {
            height: 200px;
            width: 200px;
            display: block;
            margin: 0 auto;
        }